<table class="table table-striped table-bordered table-condensed" style="margin-top:10px;">
  <tr>
    <th>№ урока</th>
    <th>Наименование разделов и тем</th>
    <th>Номера недель</th>
    <th>Кол-во часов</th>
    <th>Вид занятий</th>
    <th>Наглядные пособия</th>
    <th>Задания для студентов</th>
    <th>Самостоятельная работа для студентов</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.lesson_number %></td>
    <td><%= lesson.part_name %></td>
    <td><%= lesson.weeks_number %></td>
    <td><%= lesson.hours_count %></td>
    <td><%= lesson.lesson_type %></td>
    <td><%= lesson.manual %></td>
    <td><%= lesson.student_tasks %></td>
    <td><%= lesson.student_homeworks %></td>
    <td><%= link_to 'Открыть', lesson %></td>
    <td><%= link_to 'Редактировать', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Удалить', lesson, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Вернуться к планам', plans_path %> | <%= link_to 'Добавить новый урок', new_lesson_path(@plan_id) %>
