<table class="table table-striped table-bordered table-condensed" style="margin-top:10px;">
  <tr>
    <th>Lesson number</th>
    <th>Part name</th>
    <th>Weeks number</th>
    <th>Hours count</th>
    <th>Lesson type</th>
    <th>Manual</th>
    <th>Student tasks</th>
    <th>Student homeworks</th>
    <th>Plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.lesson_number %></td>
    <td><%= lesson.part_name %></td>
    <td><%= lesson.weeks_number %></td>
    <td><%= lesson.hours_count %></td>
    <td><%= lesson.lesson_type %></td>
    <td><%= lesson.manual %></td>
    <td><%= lesson.student_tasks %></td>
    <td><%= lesson.student_homeworks %></td>
    <td><%= lesson.plan_id %></td>
    <td><%= link_to 'Show', lesson %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Destroy', lesson, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Вернуться к планам', plans_path %> | <%= link_to 'Добавить новый урок', new_lesson_path(@plan_id) %>
