<p id="notice"><%= notice %></p>

<p>
  <b>Predmet:</b>
  <%= @plan.predmet %>
</p>

<p>
  <b>Prepod:</b>
  <%= @plan.prepod %>
</p>

<p>
  <b>Spec:</b>
  <%= @plan.spec %>
</p>

<p>
  <b>Grups:</b>
  <%= @plan.grups %>
</p>

<p>
  <b>Kurs:</b>
  <%= @plan.kurs %>
</p>

<p>
  <b>Semestr:</b>
  <%= @plan.semestr %>
</p>

<p>
  <b>God:</b>
  <%= @plan.god %>
</p>

<p>
  <b>Accepted:</b>
  <%= @plan.accepted %>
</p>

<p>
  <b>Week count:</b>
  <%= @plan.week_count %>
</p>

<p>
  <b>Lecture count:</b>
  <%= @plan.lecture_count %>
</p>

<p>
  <b>Labs count:</b>
  <%= @plan.labs_count %>
</p>

<p>
  <b>Kurs project:</b>
  <%= @plan.kurs_project %>
</p>

<p>
  <b>Itself load:</b>
  <%= @plan.itself_load %>
</p>

<p>
  <b>Literature:</b>
  <%= @plan.literature %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
